/* src/components/dashboard/Header.module.scss */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.welcomeBanner {
    h2 {
        color: var(--primary-dark-blue);
        font-weight: 700;
        font-size: 1.8rem;
    }
    p {
        color: var(--text-muted);
    }
}

.profileSection {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.profileIcon {
    img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
    }
}