/* src/components/dashboard/PatientChart.module.scss */
.chartContainer {
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);

    h3 {
        margin-bottom: 1.5rem;
        color: var(--text-dark);
        font-weight: 600;
    }
}