/* src/app/dashboard/Layout.module.scss */

.dashboardContainer {
    display: flex;
    height: 100vh; /* কন্টেইনারকে পুরো স্ক্রিনের উচ্চতা দাও */
    overflow: hidden; /* কন্টেইনারের নিজের স্ক্রল বন্ধ করো */
    background-color: #F7F8FC;
}

.contentWrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.mainContent {
    flex-grow: 1;
    padding: 0 2rem 2rem 2rem;
    overflow-y: auto;
}